.container h1 {
  text-align: center;
  font-size: 90px;
  line-height: 40%;
  font-weight: bolder;
  user-select: none;
}

.container .lastHeading {
  margin-top: -30px;
  line-height: 110%;
}

.container p {
  font-size: 18px;
  user-select: none;
  text-align: center;
}

.btn {
  text-align: center;
}
.btn button {
  margin-top: 20px;
  background-color: black;
  font-size: 20px;
  color: #727171;
  border: 1px solid #6b6a6a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  color: white;
  border: 1px solid white;
}
