.header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  margin: auto;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 8px #00000040;
  border-bottom: 1px dashed #545454;
  z-index: 10;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #696969;
}

.list a:hover,
.list a.active {
  color: #ccc;
}

.btn {
  text-align: center;
}
.btn a {
  background-color: black;
  font-size: 20px;
  color: #727171;
  border: 1px solid #6b6a6a;
  padding: 10px 20px;
  margin-right: 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.btn a:hover {
  color: white;
  border: 1px solid white;
}
